@font-face {
  font-family: "Happy Smile";
  src: url("../assets/fonts/Happy\ Smile.otf");
}

body {
  font-family: "Happy Smile";
}

.container {
  max-width: 91.4286rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 2.8571rem;
  background: gray;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "slider-mems slider-mems"
    "slider-subtitles navigaion";
}

a {
  text-decoration: none;
  color: black;
}

input {
  appearance: none;
  width: 0;
  height: 0;
}

.title {
  font-size: 4rem;
  margin: 0 auto;
  line-height: 2em;
  text-align: center;
  grid-area: title;
}

#slider-mems {
  grid-area: slider-mems;
}

#slider-subtitles {
  grid-area: slider-subtitles;
}

.overflow {
  width: 100%;
  overflow: hidden;
}
.slider {
  width: 500%;
  transition: 0.3s;
}
.slide {
  float: left;
  width: 20%;
}

img {
  width: 100%;
  height: auto;
}

.subtitle {
  font-size: 2rem;
  line-height: 2em;
  margin-left: 10px;
}

#radio1:checked ~ .overflow .slider {
  margin-left: 0;
}
#radio2:checked ~ .overflow .slider {
  margin-left: -100%;
}
#radio3:checked ~ .overflow .slider {
  margin-left: -200%;
}
#radio4:checked ~ .overflow .slider {
  margin-left: -300%;
}
#radio5:checked ~ .overflow .slider {
  margin-left: -400%;
}

.navigation {
  width: 14.2857rem;
  align-self: end;
  justify-self: end;
  display: flex;
  grid-area: navigaion;
}

.button {
  width: 2.8571rem;
  height: 2.8571rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 1.4286rem;
  height: 1.4286rem;
  border: 0.15rem solid black;
  border-radius: 0.7143rem;
  transition: 0.5s;
}

.button:hover .circle {
  background-color: rgb(70, 70, 70);
}

#radio1:checked ~ .navigation label:nth-child(1) .circle,
#radio2:checked ~ .navigation label:nth-child(2) .circle,
#radio3:checked ~ .navigation label:nth-child(3) .circle,
#radio4:checked ~ .navigation label:nth-child(4) .circle,
#radio5:checked ~ .navigation label:nth-child(5) .circle {
  background-color: black;
  border: 0.15rem solid white;
}

#radio1:checked ~ .navigation label:nth-child(1):hover .circle,
#radio2:checked ~ .navigation label:nth-child(2):hover .circle,
#radio3:checked ~ .navigation label:nth-child(3):hover .circle,
#radio4:checked ~ .navigation label:nth-child(4):hover .circle,
#radio5:checked ~ .navigation label:nth-child(5):hover .circle {
  background-color: white;
  border: 0.15rem solid black;
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "slider-mems"
      "navigaion"
      "slider-subtitles";
    padding: 0.7143rem;
  }

  .title {
    font-size: 3rem;
  }

  .navigation {
    margin-top: 0.5em;
    justify-self: center;
  }

  .subtitle {
    margin-top: 0;
  }
}
