  .container {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px;
    background: gray;
  }

  .title {
    margin: 0 auto  ;
    line-height: 2em;
    text-align: center;

  }

  input {
    display: none;
  }

  .overflow {
    width: 100%;  
    overflow: hidden;
  }
  .slider {
    width: 500%;
    transition: 0.3s;
  }
  .slide {
    float: left;
    width: 20%;
  }

  img {
    width: 100%;
  }

  #radio1:checked ~ .overflow .slider {
    margin-left: 0;
  }
  #radio2:checked ~ .overflow .slider {
    margin-left: -100%;
  }
  #radio3:checked ~ .overflow .slider {
    margin-left: -200%;
  }
  #radio4:checked ~ .overflow .slider {
    margin-left: -300%;
  }
  #radio5:checked ~ .overflow .slider {
    margin-left: -400%;
  }

  .navigation {
    width: 14.2857rem;
    margin: 0 auto;
    display: flex;
  }

  .button {
    width: 2.8571rem;
    height: 2.8571rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle {
    width: 1.4286rem;
    height: 1.4286rem;
    background-color: red;
    border-radius: 0.7143rem;
    transition: 0.3s;
  }

  .button:hover .circle {
    background-color: green;
    
  }

  #radio1:checked ~ .navigation label:nth-child(1) .circle,
  #radio2:checked ~ .navigation label:nth-child(2) .circle,
  #radio3:checked ~ .navigation label:nth-child(3) .circle,
  #radio4:checked ~ .navigation label:nth-child(4) .circle,
  #radio5:checked ~ .navigation label:nth-child(5) .circle {
    background-color: yellow;
  }
